.header-wrapper {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}
.header-fixed {
  top: 0px;
  position: fixed;
  margin-bottom: 44px;
}
.header-main {
  color: #ffffff;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  background: #fa8f1c;
  border-bottom: 0;
}
.header-main .nav-main {
  float: left;
  width: 100%;
}
.header-main .nav-main .nav-item {
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
}
.header-main .nav-main .nav-item > a {
  padding: 0;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
.header-main .menu-home {
  background-image: url(../img/ico-menu.png);
}
.header-main .menu-back {
  background-image: url(../img/ico-back.png);
}
.header-main #page-title {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: .5px;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.header-sub {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 44px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-sub .back-row {
  float: left;
  margin-bottom: 10px;
  margin-left: 5px;
  display: block;
}
.header-sub .back-row a {
  padding: 10px;
}
.header-sub h2 {
  margin-bottom: 0;
  overflow: hidden;
}
.header-sub h2 .img {
  margin-top: 5px;
}
.header-sub #tablet-page-title,
.header-sub #back-arrow-title {
  display: table;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
