/* Default theme
--------------------------------------------------------*/
/* Font Icon
--------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .nav-item {
  float: left;
  border-bottom: 1px solid #eee;
}
.nav .nav-item a {
  color: #1E3382;
}
.nav .nav-item > a {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px;
}
.nav .nav-item [data-icon]:before {
  font-size: 22px;
  font-size: 1.375rem;
  position: absolute;
  top: 0.18462rem;
  left: 0.61538rem;
}
.nav-v .nav-item {
  float: none;
}
